{%extends "index.html"%}
{% block content %}
<div class="col-md-8 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between">
        <h2 class="card-title mb-1">What is the Novel Coronavirus?</h2>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="preview-list">
            <div class="preview-item border-bottom">
              <div class="preview-thumbnail">
                <img src="{{url_for('static',filename='images/infection.png')}}" alt="">
              </div>
              <div class="preview-item-content d-sm-flex flex-grow">
                <div class="flex-grow">
                  <h3 class="preview-subject">Coronavirus</h3>
                  <p class="mb-0">Coronavirus disease (COVID-19) is a respiratory illness which spreads
                    from person to person by droplets from sneezes and coughs. Symptoms can range in severity and
                    they often include a cough, fever, and/or shortness of breath. COVID-19 is caused by a new type
                    of coronavirus that was first identified in 2019 in Wuhan, China.</p>
                </div>
              </div>
            </div>
            <div class="preview-item border-bottom">
              <div class="preview-thumbnail">
                <img src="{{url_for('static',filename='images/spreading.png')}}" alt="">
              </div>
              <div class="preview-item-content d-sm-flex flex-grow">
                <div class="flex-grow">
                  <h3 class="preview-subject">Spread</h3>
                  <p class="mb-0">Human-to-human spread is the most common way that people catch COVID-19.
                    The virus is transmitted by droplets from coughs & sneezes that collect on public surfaces and can
                    ast up 72 hours. For this reason, the virus is frequently spread when people touch their hands to
                    their face, and proper hygiene & social distancing measures are encouraged to decrease the risk of
                    spreading the virus further.</p>
                </div>
              </div>
            </div>
            <div class="preview-item border-bottom">
              <div class="preview-thumbnail">
                <img src="{{url_for('static',filename='images/man_sick.png')}}" alt="">
              </div>
              <div class="preview-item-content d-sm-flex flex-grow">
                <div class="flex-grow">
                  <h3 class="preview-subject">Symptoms</h3>
                  <p class="mb-0">Coronavirus disease can look differently for different people.
                    The most common symptoms are fever, a ‘dry’ cough, and shortness of breath, however some
                    cases of COVID-19 have developed without any obvious symptoms at first. Be sure to get immediate
                    medical assistance if you show any of these emergency symptoms: trouble breathing, persistent
                    pain/pressure in the chest, or bluish lips/face.</p>
                </div>
              </div>
            </div>
            <div class="preview-item border-bottom">
              <div class="preview-thumbnail">
                <img src="{{url_for('static',filename='images/rip.png')}}" alt="">
              </div>
              <div class="preview-item-content d-sm-flex flex-grow">
                <div class="flex-grow">
                  <h3 class="preview-subject">Higher Risk</h6>
                    <p class="mb-0">While anyone can be diagnosed with coronavirus disease, some people
                      tend to be more at-risk than others. Individuals in the following groups are recommended to take
                      extra precaution to avoid contact with COVID-19: aged 65 years or older, people with weakened
                      immune
                      systems (immunocompromised), living in a nursing home/care facility, other high-risk conditions
                      such as: smokers, severe asthma, or chronic lung diseases, heart conditions and/or heart
                      conditions,
                      severe obesity (body mass index or BMI > 40), pregnancy has not shown to increase risk, but
                      pregnant
                      women are,
                      known to be at risk for viral illness and should be monitored</p>
                </div>
              </div>
            </div>
            <div class="preview-item border-bottom">
              <div class="preview-thumbnail">
                <img src="{{url_for('static',filename='images/mask_sick.png')}}" alt="">
              </div>
              <div class="preview-item-content d-sm-flex flex-grow">
                <div class="flex-grow">
                  <h3 class="preview-subject">Precautions</h3>
                  <p class="mb-0">While there is currently no vaccine or cure for coronavirus disease,
                    proper hygiene is a proven way to avoid catching or spreading COVID-19. Social distancing -
                    avoiding crowds and staying 6+ feet from others in public - has been used to reduce the spread of
                    the disease. Wash your hands with soap and water for at least 20 seconds, especially when in public,
                    and avoid touching your face when your hands aren’t clean.</p>
                </div>
              </div>
            </div>
            <div class="preview-item">
              <div class="preview-thumbnail">
                <img src="{{url_for('static',filename='images/doctor.png')}}" alt="">
              </div>
              <div class="preview-item-content d-sm-flex flex-grow">
                <div class="flex-grow">
                  <h3 class="preview-subject">If You’re Sick</h3>
                  <p class="mb-0">Social distancing is highly encouraged for anyone suffering from
                    coronavirus disease.
                    This means staying home for the duration of your illness (but visit a clinic/hospital if you’re
                    experiencing a
                    medical emergency). You can receive medical advice and “telecare” over the phone or via video
                    conferencing
                    software (Skype, Zoom, etc). Be sure to wear mask if you do go out in public, and frequently wash
                    your hands
                    with soap & water while in/after leaving public places.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}